SR03_projet3_client1/WebContent/wsdl/Admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://annuaire1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://annuaire1" xmlns:intf="http://annuaire1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://annuaire1" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="supprimerCategorie">
    <complexType>
     <sequence>
      <element name="categorieID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="supprimerCategorieResponse">
    <complexType/>
   </element>
   <element name="modifierCategorie">
    <complexType>
     <sequence>
      <element name="categorieID" type="xsd:long"/>
      <element name="newName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifierCategorieResponse">
    <complexType/>
   </element>
   <element name="listAnnoncesParVille">
    <complexType>
     <sequence>
      <element name="ville" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAnnoncesParVilleResponse">
    <complexType>
     <sequence>
      <element name="listAnnoncesParVilleReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAnnoncesParCategorie">
    <complexType>
     <sequence>
      <element name="categorieID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAnnoncesParCategorieResponse">
    <complexType>
     <sequence>
      <element name="listAnnoncesParCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creerCategorie">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creerCategorieResponse">
    <complexType/>
   </element>
   <element name="creerAnnonce">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="telephone" type="xsd:long"/>
      <element name="categorieID" type="xsd:long"/>
      <element name="numero" type="xsd:long"/>
      <element name="rue" type="xsd:string"/>
      <element name="codePostal" type="xsd:long"/>
      <element name="ville" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creerAnnonceResponse">
    <complexType/>
   </element>
   <element name="supprimerAnnonce">
    <complexType>
     <sequence>
      <element name="annonceID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="supprimerAnnonceResponse">
    <complexType/>
   </element>
   <element name="modifierAnnonce">
    <complexType>
     <sequence>
      <element name="idAnnonce" type="xsd:long"/>
      <element name="name" type="xsd:string"/>
      <element name="telephone" type="xsd:long"/>
      <element name="categorieID" type="xsd:long"/>
      <element name="numero" type="xsd:long"/>
      <element name="rue" type="xsd:string"/>
      <element name="codePostal" type="xsd:long"/>
      <element name="ville" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifierAnnonceResponse">
    <complexType/>
   </element>
   <element name="listCategories">
    <complexType/>
   </element>
   <element name="listCategoriesResponse">
    <complexType>
     <sequence>
      <element name="listCategoriesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorie">
    <complexType>
     <sequence>
      <element name="categorieID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieResponse">
    <complexType>
     <sequence>
      <element name="getCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnnonce">
    <complexType>
     <sequence>
      <element name="annonceID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnnonceResponse">
    <complexType>
     <sequence>
      <element name="getAnnonceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAnnonces">
    <complexType/>
   </element>
   <element name="listAnnoncesResponse">
    <complexType>
     <sequence>
      <element name="listAnnoncesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="supprimerCategorieResponse">

      <wsdl:part element="impl:supprimerCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesResponse">

      <wsdl:part element="impl:listAnnoncesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creerCategorieRequest">

      <wsdl:part element="impl:creerCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creerAnnonceRequest">

      <wsdl:part element="impl:creerAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifierCategorieRequest">

      <wsdl:part element="impl:modifierCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieRequest">

      <wsdl:part element="impl:getCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnonceRequest">

      <wsdl:part element="impl:getAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creerCategorieResponse">

      <wsdl:part element="impl:creerCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieResponse">

      <wsdl:part element="impl:getCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCategoriesResponse">

      <wsdl:part element="impl:listCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerCategorieRequest">

      <wsdl:part element="impl:supprimerCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesParCategorieRequest">

      <wsdl:part element="impl:listAnnoncesParCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifierCategorieResponse">

      <wsdl:part element="impl:modifierCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerAnnonceRequest">

      <wsdl:part element="impl:supprimerAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesParVilleResponse">

      <wsdl:part element="impl:listAnnoncesParVilleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCategoriesRequest">

      <wsdl:part element="impl:listCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesParVilleRequest">

      <wsdl:part element="impl:listAnnoncesParVille" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifierAnnonceResponse">

      <wsdl:part element="impl:modifierAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifierAnnonceRequest">

      <wsdl:part element="impl:modifierAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesRequest">

      <wsdl:part element="impl:listAnnonces" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creerAnnonceResponse">

      <wsdl:part element="impl:creerAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnonceResponse">

      <wsdl:part element="impl:getAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="supprimerAnnonceResponse">

      <wsdl:part element="impl:supprimerAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAnnoncesParCategorieResponse">

      <wsdl:part element="impl:listAnnoncesParCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Admin">

      <wsdl:operation name="supprimerCategorie">

         <wsdl:input message="impl:supprimerCategorieRequest" name="supprimerCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:supprimerCategorieResponse" name="supprimerCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifierCategorie">

         <wsdl:input message="impl:modifierCategorieRequest" name="modifierCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifierCategorieResponse" name="modifierCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnoncesParVille">

         <wsdl:input message="impl:listAnnoncesParVilleRequest" name="listAnnoncesParVilleRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAnnoncesParVilleResponse" name="listAnnoncesParVilleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnoncesParCategorie">

         <wsdl:input message="impl:listAnnoncesParCategorieRequest" name="listAnnoncesParCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAnnoncesParCategorieResponse" name="listAnnoncesParCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="creerCategorie">

         <wsdl:input message="impl:creerCategorieRequest" name="creerCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:creerCategorieResponse" name="creerCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="creerAnnonce">

         <wsdl:input message="impl:creerAnnonceRequest" name="creerAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:creerAnnonceResponse" name="creerAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="supprimerAnnonce">

         <wsdl:input message="impl:supprimerAnnonceRequest" name="supprimerAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:supprimerAnnonceResponse" name="supprimerAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifierAnnonce">

         <wsdl:input message="impl:modifierAnnonceRequest" name="modifierAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifierAnnonceResponse" name="modifierAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCategories">

         <wsdl:input message="impl:listCategoriesRequest" name="listCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listCategoriesResponse" name="listCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdl:input message="impl:getCategorieRequest" name="getCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieResponse" name="getCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnonce">

         <wsdl:input message="impl:getAnnonceRequest" name="getAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAnnonceResponse" name="getAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnonces">

         <wsdl:input message="impl:listAnnoncesRequest" name="listAnnoncesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAnnoncesResponse" name="listAnnoncesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AdminSoapBinding" type="impl:Admin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="supprimerCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="supprimerCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="supprimerCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifierCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifierCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifierCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnoncesParVille">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAnnoncesParVilleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAnnoncesParVilleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnoncesParCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAnnoncesParCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAnnoncesParCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="creerCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creerCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creerCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="creerAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creerAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creerAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="supprimerAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="supprimerAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="supprimerAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifierAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifierAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifierAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAnnonces">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAnnoncesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAnnoncesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdminService">

      <wsdl:port binding="impl:AdminSoapBinding" name="Admin">

         <wsdlsoap:address location="http://localhost:8080/SR03_projet3_Webservice/services/Admin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
