calculette_webservice/WebContent/wsdl/Calculette.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculette_webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculette_webservice" xmlns:intf="http://calculette_webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculette_webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mul">
    <complexType>
     <sequence>
      <element name="val1" type="xsd:int"/>
      <element name="val2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mulResponse">
    <complexType>
     <sequence>
      <element name="mulReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType>
     <sequence>
      <element name="val1" type="xsd:int"/>
      <element name="val2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sou">
    <complexType>
     <sequence>
      <element name="val1" type="xsd:int"/>
      <element name="val2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="souResponse">
    <complexType>
     <sequence>
      <element name="souReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mulResponse">

      <wsdl:part element="impl:mulResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="souResponse">

      <wsdl:part element="impl:souResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mulRequest">

      <wsdl:part element="impl:mul" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="souRequest">

      <wsdl:part element="impl:sou" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculette">

      <wsdl:operation name="mul">

         <wsdl:input message="impl:mulRequest" name="mulRequest">

       </wsdl:input>

         <wsdl:output message="impl:mulResponse" name="mulResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sou">

         <wsdl:input message="impl:souRequest" name="souRequest">

       </wsdl:input>

         <wsdl:output message="impl:souResponse" name="souResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculetteSoapBinding" type="impl:Calculette">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mul">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mulRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mulResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sou">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="souRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="souResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculetteService">

      <wsdl:port binding="impl:CalculetteSoapBinding" name="Calculette">

         <wsdlsoap:address location="http://localhost:8079/calculette_webservice/services/Calculette"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
